#settings h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center;
}

#settings h4 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

#settings section > * {
    display: block;
    margin: 0.5em 0.5em;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    /* Bottom bar */
    border-bottom: 1px solid var(--settings-section-bottom-bar-color);
    /* Not selectable */
    user-select: none;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

/* If setting is checkbox */
#settings section > * > input[type="checkbox"] {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
}

#settings section > * > input[type="checkbox"] + label {
    display: flex;
    cursor: pointer;
    gap: 0.5em;
}

#settings section > * > input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--settings-checkbox-border-color);
    border-radius: 0.2em;
    background-color: var(--settings-checkbox-bg-color);
    transition: background-color 0.2s ease-in-out;
}

#settings section > * > input[type="checkbox"]:checked + label::before {
    background-color: var(--settings-checkbox-checked-color);
    /* Checkmark */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
}

#settings section > *:last-child {
    border-bottom: none;
}

/* pre, means not yet implemented */
#settings pre {
    display: block;
    font-size: 2em;
    width: 100%;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Width greater than 600px */
@media (min-width: 600px) {
    #settings > div {
        width: 600px;
        margin: 0 auto;
    }
}
