#manga-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;

    height: calc(var(--size-height) - 100px);
    overflow-y: scroll;

    /* Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #424242 #303030;

    /* Background color */
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;

    /* Padding */
    padding: 20px;
}

#manga-list .manga-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 300px;
}

#manga-list .manga-item:hover {
    transform: scale(1.05);
}

#manga-list .manga-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#manga-list .manga-item p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

#manga-list .manga-item span {
    position: relative;
    top: -270px;
    left: 80px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #004edf;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
}
