* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
}

body {
    background-color: #303030;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    overflow-y: scroll;

    /* Var size */
    --size-width: 400px;
    --size-height: 500px;

    /* Size */
    width: var(--size-width);
    height: var(--size-height);
}

/* ****************************************** */
/* MANGA-LIST */
/* ****************************************** */

#manga-list {
    display: flex;
    flex-direction: column;
    height: calc(var(--size-height) - 100px);
    overflow-y: scroll;

    /* Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #424242 #303030;

    /* Background color */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
}

#manga-list div {
    margin: 0;
    padding: 20px;
    /* Bottom border */
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
}

#manga-list div:hover {
    background-color: #eee;
}

#manga-list div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#manga-list div:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#manga-list div span {
    cursor: pointer;
}

/* First span of 'div' is title */
#manga-list div span:first-child {
    font-weight: bold;
}

/* Last span of 'div' is chapter */
#manga-list div span:last-child {
    font-size: 0.8em;
    color: #666;
    /* Space */
    margin-left: 10px;
}

#manga-list div span:last-child:hover {
    color: #1e1ec4;
    /* underline */
    text-decoration: underline;
}

/* ****************************************** */
/* BUTTONS */
/* ****************************************** */

div.buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e88e5;
}

button:active {
    background-color: #1976d2;
}

button.red {
    background-color: #f44336;
}

button.red:hover {
    background-color: #e53935;
}

button.red:active {
    background-color: #d32f2f;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ****************************************** */
/* CHAPTERS */
/* ****************************************** */

#manga-chapters h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

#manga-chapters ul {
    list-style: none;
    padding: 0;
    margin: 0;

    /* Background color */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
}

#manga-chapters li {
    font-size: 18px;
    padding: 10px;
    /* Bottom border */
    border-bottom: 1px solid #ccc;
}

#manga-chapters li:hover {
    background-color: #eee;
    cursor: pointer;
}

#manga-chapters li:last-child {
    border-bottom: none;
}

#manga-chapters button {
    margin-top: 20px;
}
